<div class="jumbotron">
    <h1>A6</h1>
    <p class="lead">Assignment 6 by Jung Geon Choi.</p>
</div>

<p>Album cover used Reference: http://ca.ign.com/articles/2011/05/27/top-50-most-iconic-album-covers </p>
