<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">Simple Web API for Smartphone.</p>
    <p>@Html.ActionLink("View Document", "Index", "Help", new { area = "" }, null)</p>
</div>
