
@{
    ViewBag.Title = "NotFound";
}

<h2>There was an error handling your request</h2>
<h4>The server encountered an error during the handling of your request.</h4>

<h4>Calm down. I am sure it's probably not a big issue.</h4>
<img src="~/image/smile.png" class="img-responsive" />
<p>If you would like to report the error, please copy and paste below <b>Technical Information</b> and send an email to <i>errorReport@seneca.ca</i></p>
<br />
<br />
<hr />
<p>Technical information: <pre>@ViewBag.StatusCode</pre></p>

