
@{
    ViewBag.Title = "ServerError";
}

<h2>Server Error</h2>

<h4>Calm down. I am sure it's probably not a big issue.</h4>
<img src="~/image/smile.png" class="img-responsive" />
<p>If you would like to report the error, please copy and paste below <b>Error Message</b> and send an email to <i>errorReport@seneca.ca</i></p>
<br />
<br />
<hr />
<h4>Error Message:</h4>
<pre>@ViewBag.Error</pre>