@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Artist</h2>

        <p><a class="btn btn-default" href="Artists">View List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Album</h2><a class="btn btn-default" href="Albums">View List &raquo;</a></>
    </div>
    <div class="col-md-4">
        <h2>Song</h2><p>
                         <a class="btn btn-default" href="Songs">View List &raquo;</a>
        </p>
    </div>
</div>