@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
   Seneca @@ York<br />
    <abbr title="Phone">P:</abbr>
    647.838.2000
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:JGChoi@MySeneca.ca">JGChoi@MySeneca.ca</a><br />
</address>