@{
    ViewBag.Title = "About";
    ViewBag.Message = "App that enables a student or teacher to create a suggestion for improvement. The suggestion can then be amended and tracked.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
