@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Suggestion Box</h1>
    <p class="lead">App that enables a student or teacher to create a suggestion for improvement.<br />The suggestion can then be amended and tracked.</p>
    <p><a href="suggestions/create" class="btn btn-primary btn-lg">Make Suggestion &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Follow Up</h2>
        <p>
            Want to add comment on existing suggestions?
        </p>
        <p><a class="btn btn-default/create" href="followups">Start &raquo;</a></p>
    </div>
</div>