<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jgchoi-bti420-assign2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jgchoi-bti420-assign2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jgchoi-bti420-assign2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jgchoi-bti420-assign2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mcn8et5de8.database.windows.net,1433;Initial Catalog=jgchoi-bti420-assign2_db;User ID=jgchoi@mcn8et5de8;Password=Qwe123!@#" Name="Data Source=tcp:mcn8et5de8.database.windows.net,1433;Initial Catalog=jgchoi-bti420-assign2_db;User Id=jgchoi@mcn8et5de8;Password=Qwe123!@#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Notes.Models.ApplicationDbContext, template-2015-03-22-v1" MigrationConfiguration="Notes.Migrations.Configuration, template-2015-03-22-v1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mcn8et5de8.database.windows.net,1433;Initial Catalog=jgchoi-bti420-assign2_db;User Id=jgchoi@mcn8et5de8;Password=Qwe123!@#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>