<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jgchoibti420.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jgchoibti420.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jgchoibti420</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$jgchoibti420</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cjkyg7wuel.database.windows.net,1433;Initial Catalog=jgchoibti420_db;User ID=jgchoibti420@cjkyg7wuel;Password=Qwe123!@#" Name="Data Source=tcp:cjkyg7wuel.database.windows.net,1433;Initial Catalog=jgchoibti420_db;User Id=jgchoibti420@cjkyg7wuel;Password=Qwe123!@#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BTI_A1.Models.ApplicationDbContext, BTI-A1" MigrationConfiguration="BTI_A1.Migrations.Configuration, BTI-A1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cjkyg7wuel.database.windows.net,1433;Initial Catalog=jgchoibti420_db;User Id=jgchoibti420@cjkyg7wuel;Password=Qwe123!@#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>